In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [7]:
df['fuel_type'].nunique()

2

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [12]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [13]:
df.horsepower.median()

np.float64(149.0)

In [17]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [20]:
df.horsepower = df.horsepower.fillna(152)

In [23]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [24]:
df.horsepower.median()

np.float64(152.0)

In [25]:
# Q7. Sum of weights

In [38]:
new_df = df.loc[df.origin == 'Asia', ['vehicle_weight', 'model_year']]
new_df.head()
new_df.reset_index()

      index  vehicle_weight  model_year
0         8     2714.219310        2016
1        12     2783.868974        2010
2        14     3582.687368        2007
3        20     2231.808142        2011
4        21     2659.431451        2016
...     ...             ...         ...
3242   9688     3948.404625        2018
3243   9692     3680.341381        2016
3244   9693     2545.070139        2012
3245   9698     3107.427820        2005
3246   9703     2908.043477        2005

[3247 rows x 3 columns]

In [40]:
df1 = new_df.head(7)

In [44]:
X = df1.values

In [45]:
import numpy as np

In [50]:
XT = X.T

In [52]:
XTX = X.dot(XT)

In [55]:
Xinv = np.linalg.inv(XTX)

In [54]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [58]:
res = XT.dot(Xinv)

In [59]:
rs = res.dot(y)
rs

array([ 0.14501345, -0.63631237])

In [60]:
rs.sum()

np.float64(-0.4912989164442476)